[submodule "NetworkObjects"]
	path = NetworkObjects
	url = https://github.com/colemancda/NetworkObjects.git
[submodule "Crypto"]
	path = Crypto
	url = https://github.com/colemancda/Crypto.git
[submodule "IDZSwiftCommonCrypto"]
	path = IDZSwiftCommonCrypto
	url = https://github.com/colemancda/IDZSwiftCommonCrypto.git
