[submodule "IDZSwiftCommonCrypto"]
	path = IDZSwiftCommonCrypto
	url = https://github.com/colemancda/IDZSwiftCommonCrypto.git
[submodule "NetworkObjects"]
	path = NetworkObjects
	url = https://github.com/colemancda/NetworkObjects.git
	branch = develop
